<div class="crumbs">
  <%= link_to "#{I18n.t "site.general.tile_plural"}", home_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= I18n.t "site.forums.new.new_forum" %></h1>

<% form_for :forum, :url => forums_path do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag I18n.t "site.general.text04", :or => link_to((I18n.t "site.general.cancel").to_s, forums_path) %>
<% end -%>